.TargetItemMoney_subscribeButton_3B7Fw {
    width: 100%;
    margin-top: 5px;
}

.ContainedButton_button_3r-em {
    min-width: 150px;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #f15f2c;
}

.BaseButton_button_1gx-n {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    height: 40px;
    padding: 10px 0;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    outline: 0;
    transition: all .2s;
    cursor: pointer;
}

/* SPOILER */
.spoiler > input + label:after{content: "+";float: right;font-family: monospace;font-weight: bold;}
.spoiler > input:checked + label:after{content: "-";float: right;font-family: monospace;font-weight: bold;}
.spoiler > input{display:none;}
.spoiler > input + label , .spoiler > .spoiler_body{background:#CCC;padding:5px 15px;overflow:hidden;width:100%;box-sizing: border-box;display: block;}
.spoiler > input + label + .spoiler_body{display:none;}
.spoiler > input:checked + label + .spoiler_body{display: block;}
.spoiler > .spoiler_body{background: #FFF;border: 3px solid #CCC;border-top: none;}
/* SPOILER */