                                Налаштування серверу та код сайту доступний на <a href="https://github.com/zhovner/zaborona_help/tree/master/config">GitHub</a>.
                                <br />
                                <br /> Якщо ви знайшли помилку на сайті або хочете щось доповнити, це можна зробити відправивши <a href="https://git-scm.com/book/ru/v2/GitHub-%D0%92%D0%BD%D0%B5%D1%81%D0%B5%D0%BD%D0%B8%D0%B5-%D1%81%D0%BE%D0%B1%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE-%D0%B2%D0%BA%D0%BB%D0%B0%D0%B4%D0%B0-%D0%B2-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B">pull request</a>
								<br />
								