node_modules
node_modules/*
build/*
.DS_Store
.well-known
ansible
/.idea
_includes/footer.html.bk1
windows.html.bk
windows_rip.html.bk
srv-mon.html
ips.txt.bk
donate.html.old
telderi440288898879ce32e30c50474a6bb148.txt
statistic
statistic/*
ipsec
ipsec/*
config/dnsmasq.d/zaborona.new
openvpn-client-config/alt-config/*
img/zaborona_vpn_scheme-tmpl.pdn
img/openvpn-client-config/srv7.zaborona-help_maxroutes_defGW.ovpn
img/openvpn-client-config/srv7.zaborona-help-UDP-no-encryption_maxroutes_defGW.ovpn
img/openvpn-client-config/srv9.zaborona-help_maxroutes_defGW.ovpn
img/openvpn-client-config/srv9.zaborona-help-UDP-no-encryption_maxroutes_defGW.ovpn
