node_modules
node_modules/*
build/*
.DS_Store
.well-known
ansible
/.idea
_includes/footer.html.bk1
windows.html.bk
windows_rip.html.bk
srv-mon.html
ips.txt.bk
donate.html.old
telderi440288898879ce32e30c50474a6bb148.txt
statistic
statistic/*
ipsec
ipsec/*
config/dnsmasq.d/zaborona.new
