                                Конфиги сервера и исходный код сайта доступны на <a href="https://github.com/zhovner/zaborona_help/tree/master/config">GitHub</a>.
                                <br />
                                <br /> Если вы нашли ошибку на сайте или хотите что-то дополнить, это можно сделать отправив <a href="https://git-scm.com/book/ru/v2/GitHub-%D0%92%D0%BD%D0%B5%D1%81%D0%B5%D0%BD%D0%B8%D0%B5-%D1%81%D0%BE%D0%B1%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE-%D0%B2%D0%BA%D0%BB%D0%B0%D0%B4%D0%B0-%D0%B2-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B">pull request</a>
								<br />
                                <br /><span style="font-size: 32px;">Ручная настройка OpenVPN</span>
                                <br />
                                <br /> Сервер работает на OpenVPN 2.7.0
								<br />
								<font style="color: red">Внимание: Обновление ROS (Mikrotik) на версию 7.20 (7.20rcX) и выше, приводит к неработоспособности openvpn с серверами Zaborona.help, так как разработчиками Mikrotik было установлено ограничение на количество маршрутов до 30 штук (в некоторых моделях до 120 штук)</font>
                                <br />
                                <br />
								