<div id="rec20205692" class="r" style="padding-bottom:0px;background-color:#f4f4f4; " data-record-type="106" data-bg-color="#ededed" data-animationappear="off">
    <!-- T004 -->
    <div class="t004">
        <div class="t-container t-align_center">
            <div class="t-col t-col_12 ">
                <div field="text" class="t-text t-text_sm "><a href="https://medium.com/@zaborona">Блог</a> | <a href="https://github.com/zhovner/zaborona_help/wiki">Wiki</a> | <a href="https://status.zaborona.help/">Статус</a></div>
            </div>
        </div>
    </div>
</div>