<!--// <a id="no-war-banner" href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi" class="em-ribbon" style="position: absolute; left:0; top:0; width: 90px; height: 90px; background: url('https://stfalcon.github.io/stopwar/img/stop-war-in-ukraine.png'); z-index: 20; border: 0;" title="Do something to stop this war! Russians are killing our children and civilians!" target="_blank"></a> //-->

<div id="rec20205692" class="r" style="padding-bottom:0px;background-color:#f4f4f4; " data-record-type="106" data-bg-color="#ededed" data-animationappear="off">
    <!-- T004 -->
    <div class="t004">
        <div class="t-container t-align_center">
            <div class="t-col t-col_12 ">
                <div field="text" class="t-text t-text_sm "><a href="https://medium.com/@zaborona">Блог</a> | <a href="https://github.com/zhovner/zaborona_help/wiki">Wiki</a> | <a href="https://stats.uptimerobot.com/50VGDc0J0n">Статус серверов</a> | <a href="/donate.html">Поддержать проект</a><!--// | <a href="/graph.html">Загрузка сети</a>//--><!--//<br>Язык сайта: <a href="/ua/"><img alt="" border="0" src="/img/lang/ua.jpg" width="24" height="16" /></a> | <a href="/"><img alt="" border="0" src="/img/lang/ru.jpg" width="24" height="16" /></a>//--></div>
            </div>
        </div>
    </div>
</div>