[Unit]
Description=dnsmapi2p
After=network.target

[Service]
WorkingDirectory=/root/dnsmapi2p
ExecStart=/root/dnsmapi2p/proxy.py -a 127.0.0.4 -p 5757 --iprange 10.228.0.0/15 -u 127.0.0.1:5300
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target