[Unit]
Description=zaborona-vpn update
After=network-online.target
Wants=network-online.target
Wants=zaborona-update.timer

[Service]
WorkingDirectory=/root/zaborona-vpn
ExecStart=/root/zaborona-vpn/doall.sh

[Install]
WantedBy=multi-user.target
